.Room {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  border: 1px solid #f0f0f0;
  top: 50%;
  left: 50%;
  z-index: 0;
  overflow: hidden;

  &__active {
    z-index: 3;
    overflow: unset;
    z-index: 3;
    height: auto !important;

    .HomeLayout__roomName {
      color: #222;
    }
  }

  &__name {
    font-weight: 600;
    color: #222;
    display: block;
    padding: 3px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

    &--error {
      color: indianred !important;
    }
  }

  &__devices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


  }

}
